.newuser{
    flex: 4;
}

.newUserForm{
    display: flex;
    flex-wrap: wrap;
}

.newUserItem{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newUserItem>label{
    font-weight: 600;font-size: 14px;
    color: gray;
    margin-bottom: 10px;
}

.newUserItem>input{
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 40px;
    outline: none;
    padding: 5px;
}

.newUserGendar>input{
    margin-top: 15px;
}

.newUserGendar>label{
    margin: 10px;font-size: 18px;
    color: #555;
}

.newUserSelect{
    height: 40px;
    border-radius: 5px;
}

.newUserButton{
    border: none;
    background: darkblue;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    width: 300px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
}