.userlist{
    flex: 4;
}

.userListUser{
    display: flex;
    align-items: center;
}

.userListImg{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.userlistEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background: #3bb077;
    color: #fff;
    cursor: pointer;
    margin-right: 20px; 
}

.userlistDelete{
    color: red;
    cursor: pointer;
}