.user{
    flex:4;
    padding: 20px;
}

.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background: teal;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

.userContainer{
    display: flex;
    margin-top: 20px;
}

.userShow{
    padding: 20px;
    flex: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.userUpdate{
    padding: 20px;
    margin-left: 20px;
    flex: 2;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.userShowTop{
    display: flex;
    align-items: center;
}

.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUsername{
    font-weight: 600;
}

.userShowUserTitle{
    font-weight: 300;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: lightgray;
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #444;
}

.userShowIcon{
    font-size: 16px !important;
    margin-right: 10px;
}

.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdateTitle{
    font-size: 1.3rem;
    font-weight: 600;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.userUpdateInput{
    border: none;
    border-bottom: 1px solid gray;
    height: 30px;
    width: 230px;
}

.userUpdateImg{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.userUpdateIcon{
    cursor: pointer;
}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userUpdateButton{
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background: darkblue;
    color: #fff;
    font-weight: 600;
}